  .bg-primary {
    background-color: #6777ef !important; }
  
  .bg-secondary {
    background-color: #cdd3d8 !important; }
  
  .bg-success {
    background-color: #47c363 !important; }
  
  .bg-info {
    background-color: #3abaf4 !important; }
  
  .bg-warning {
    background-color: #ffa426 !important; }
  
  .bg-danger {
    background-color: #fc544b !important; }
  
  .bg-light {
    background-color: #e3eaef !important; }
  
  .bg-dark {
    background-color: #191d21 !important; }
   
  .text-primary, .text-primary-all *, .text-primary-all *:before, .text-primary-all *:after {
        color: #6777ef !important; }
      
      .text-secondary, .text-secondary-all *, .text-secondary-all *:before, .text-secondary-all *:after {
        color: #cdd3d8 !important; }
      
      .text-success, .text-success-all *, .text-success-all *:before, .text-success-all *:after {
        color: #47c363 !important; }
      
      .text-info, .text-info-all *, .text-info-all *:before, .text-info-all *:after {
        color: #3abaf4 !important; }
      
      .text-warning, .text-warning-all *, .text-warning-all *:before, .text-warning-all *:after {
        color: #ffa426 !important; }
      
      .text-danger, .text-danger-all *, .text-danger-all *:before, .text-danger-all *:after {
        color: #fc544b !important; }
      
      .text-light, .text-light-all *, .text-light-all *:before, .text-light-all *:after {
        color: #e3eaef !important; }
      
      .text-white, .text-white-all *, .text-white-all *:before, .text-white-all *:after {
        color: #ffffff !important; }
      
      .text-dark, .text-dark-all *, .text-dark-all *:before, .text-dark-all *:after {
        color: #191d21 !important; }
        
      .bg-gradient{
            background: rgb(53, 95, 121);
            background: linear-gradient(90deg, rgb(53, 95, 121) 38%, rgba(230,57,70,1) 100%) !important;}